header{
    background: url(/img/athlete.png);
    background-size: cover;
    background-position: center;
    min-height:1000px;
}
@media screen and (max-width:670px){
    header{
        min-height: 300px;
    }
}
.box {
    height: 200px;
}
nav {
    position:fixed;
    z-index: 5;
    background: rgba(0, 0, 0, 0.2);
    padding:0px 20px;
}
nav .badge{
    position: relative;
    top: 20px;
    right: 20px;
}
.section{
    background-size: cover;
    padding-top: 4vw;
}
.tabs .indicator{
    background-color:navy;
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
    background: ghostwhite;
}